Source: trac-xmlrpc
Section: python
Priority: optional
Build-Depends: debhelper (>= 9), python-setuptools, python (>= 2.7)
Maintainer: Python Applications Packaging Team <python-apps-team@lists.alioth.debian.org>
Uploaders: W. Martin Borgert <debacle@debian.org>
Standards-Version: 3.9.5
Vcs-Svn: svn://svn.debian.org/svn/python-apps/packages/trac-xmlrpc/trunk/
Vcs-Browser: http://svn.debian.org/viewsvn/python-apps/packages/trac-xmlrpc/trunk/
X-Python-Version: 2.7
Homepage: http://trac-hacks.org/wiki/XmlRpcPlugin

Package: trac-xmlrpc
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, trac
Description: XML-RPC interface to the Trac wiki and issue tracking system
 This plugin allows Trac plugins to export select parts of their
 interface via XML-RPC. It also includes some exported functions
 for manipulating tickets, with plans to include interfaces to
 other parts of Trac's API.
