#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
export PYBUILD_NAME=trac-xmlrpc
export PYBUILD_DISABLE=test

%:
	dh $@ --with python2 --buildsystem=pybuild

override_dh_clean:
	dh_clean
	[ -d *.egg-info ] && rm -rf *.egg-info || true

override_dh_fixperms:
	cp *.egg-info/SOURCES.txt $(shell readlink -f debian/$(PYBUILD_NAME)/usr/lib/python*/dist-packages/*.egg-info)/SOURCES.txt
	dh_fixperms -O--buildsystem=pybuild
